.cloud {
    position: fixed;
    width: 200px;
    height: 100px;
  }
  
  .cloud-part {
    position: absolute;
    width: 200px;
    height: 90px;
    border-radius: 65px;
    background-color: white;
    opacity: 0.8;
  }
  
  .cloud-part:nth-child(1) {
    top: 20px;
    left: 30px;
    animation: move-cloud 35s ease-in-out infinite;
  }
  
  .cloud-part:nth-child(2) {
    top: 0px;
    left: 100px;
    animation: move-cloud 34s ease-in-out 0.2s infinite;
  }
  
  .cloud-part:nth-child(3) {
    top: 10px;
    left: 150px;
    animation: move-cloud 33s ease-in-out 0.4s infinite;
  }

  .cloud-part:nth-child(4) {
    top: 30px;
    left: 200px;
    animation: move-cloud 32s ease-in-out 0.6s infinite;
  }

  .cloud-part:nth-child(5) {
    top: 40px;
    left: 240px;
    animation: move-cloud 31s ease-in-out 0.8s infinite;
  }

  .cloud-part:nth-child(6) {
    top: 50px;
    left: 360px;
    animation: move-cloud 30s ease-in-out 1s infinite;
  }
  
  
  @keyframes move-cloud {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(1000px) translateY(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }
  body{
    background-color: black;
  }
  